#reports_table
	.container
		span.subtitle
			margin-bottom: 2rem
			display: block
		.table-container
			-ms-overflow-style: none
			scrollbar-width: none
			min-height: 14.37rem
			margin-bottom: 0
			overflow: visible
			
			&::-webkit-scrollbar
				display: none
			
			.table
				font-size: 0.875rem
				color: $graphite4

				.id
					text-align: center
					width: 7.8%
					min-width: 7.8%
					border-right: 1px dashed $graphite1
				.car
					width: 24.3%
					min-width: 24.3%
					border-right: 1px dashed $graphite1
				.start
					width: 16%
					min-width: 16%
				.finish
					width: 13%
					min-width: 13%
					border-right: 1px dashed $graphite1
				.task
					text-align: center
					width: 23%
					min-width: 23%
					border-right: 1px dashed $graphite1
				.driver
					width: 15.5%
					min-width: 15.5%
					border-right: 1px dashed $graphite1

				thead
					background-color: $grey2
					box-shadow: 0 1px 0 $grey2

					th
						font-weight: normal
						color: $graphite4
						vertical-align: middle

						&.car
							.dropdown
								&:focus
									outline: none!important
								&.is-active
									.icon
										transform: rotate(180deg)
								.wrapper
									@include flex(flex-start, center)
									border: none
									user-select: none
									cursor: pointer
									span
										font-size: .875rem
										font-weight: normal
										color: $graphite4
									.icon
										height: .3rem
										transition: transform .3s ease-in-out
								.dropdown-menu
									.active
										color: $orange4

						&.start, &.finish
							text-align: center
							font-size: .625rem
						
						&.task
							text-align: left

				tbody
					&>tr
						mix-blend-mode: multiply
						box-shadow: 0px 1px 0px $grey2
						cursor: pointer
						&:hover
							background-color: $lineHover
						&.selected
							background-color: $lineHover
						td
							vertical-align: middle

							&.id
								position: relative
								&::before
									display: none
									content: ""
									height: 96%
									width: .5rem
									position: absolute
									left: 0
									top: 0
									bottom: 0
									margin: auto 0
								&.closed::before
									display: block
									background-color: $red2
								&.opened::before
									display: block
									background-color: $teal2
								&.check::before
									display: block
									background-color: $orange2

							&.car
								table
									background: transparent
									td
										&:first-of-type
											padding-right: .3rem
											font-size: .7rem
										&:last-of-type
											font-family: 'Cabin', sans-serif
											font-size: 1rem
											text-align: right
											padding-left: .3rem

							&.task
								font-size: .625rem
								text-align: left

							&.driver
								font-size: .625rem

							&.start
								.icon
									i
										&.is-success
											color: $teal2
										&.is-danger
											color: $red2

							&.finish
								.icon
									i
										&.is-success
											color: $teal2
										&.is-danger
											color: $red2

							&.status
								font-size: .625rem
								text-align: left
								display: flex
								align-items: center
								justify-content: flex-start
								&.closed
									color: $red4
								&.check
									color: $orange4
								&.opened
									color: $teal4

								.icon
									width: .6rem
									margin-left: .5rem

						td.start, td.finish
							font-size: .75rem
							text-align: center
							span
								font-size: .625rem
		.open
			display: block
			margin-bottom: 2rem
			width: 100%

			.button
				font-size: .875rem
				font-weight: bold
				color: #fff
				width: 100%
				background-color: $blue2
				mix-blend-mode: multiply
				box-shadow: 0 1px 0 $grey2
				border: none
				border-radius: 0								