#waybills_table
	.container
		span.subtitle
			margin-bottom: 2rem
			display: block
		.table-container
			-ms-overflow-style: none
			scrollbar-width: none
			min-height: 4rem
			margin-bottom: 0
			overflow: visible
			.spin
				cursor: pointer
				position: absolute
				left: 102%
				top: 1%
			&::-webkit-scrollbar
				display: none
			
			.table
				font-size: 0.875rem
				color: $graphite4

				.id
					text-align: center
					width: 7.8%
					min-width: 7.8%
					border-right: 1px dashed $graphite1
				.car
					width: 24.3%
					min-width: 24.3%
					border-right: 1px dashed $graphite1
				.start
					width: 15%
					min-width: 15%
				.finish
					width: 14%
					min-width: 14%
					border-right: 1px dashed $graphite1
				.task
					text-align: center
					width: 19%
					min-width: 19%
					border-right: 1px dashed $graphite1
				.driver
					width: 15.5%
					min-width: 15.5%
					border-right: 1px dashed $graphite1

				thead
					background-color: $grey2
					box-shadow: 0 1px 0 $grey2

					th
						font-weight: normal
						color: $graphite4
						vertical-align: middle

						&.car
							.dropdown
								@include flex(flex-start, center)
								position: relative
								&.is-active
									.icon
										transform: rotate(180deg)
								.icon
									height: .5rem
									margin-left: .2rem
									margin-right: .5rem
									transition: all .1s ease-in-out
								.menu
									min-width: 34rem
									background-color: #fff
									position: absolute
									top: 100%
									left: 0
									z-index: 99
									.tile.is-child
										padding: 1.25rem
										border: 1px dashed $graphite1
										&:first-of-type
											padding-right: .5rem
											.title
												padding: 0 .4rem
										&:last-of-type
											border-left: none 
										.title
											font-family: 'Cabin', sans-serif
											font-size: .625rem
											color: $graphite2
											margin-bottom: .5rem
										.choose
											font-size: .875rem
											color: $graphite4
											padding: .2rem .4rem
											border-radius: 4px
											cursor: pointer
											&.selected
												background-color: $graphite4
												color: #fff
										.num
											font-family: 'Cabin', sans-serif
											font-size: 1rem
											text-align: center
											color: $graphite4
											border-radius: 4px
											cursor: pointer
											&.selected
												background-color: $graphite4
												color: #fff

						&.start, &.finish
							text-align: center
							font-size: .625rem
						
						&.task
							text-align: left
						
						&.status
							cursor: pointer
							.dropdown
								@include flex(flex-start, center)
								position: relative
								&.is-active
									.icon
										transform: rotate(180deg)
								.icon
									height: .5rem
									margin-left: .2rem
									margin-right: .5rem
									transition: all .1s ease-in-out
								.menu
									background-color: #fff
									border: 1px dashed $graphite1
									box-shadow: 0px 8px 32px rgba(176, 191, 198, 0.5)
									padding: 2rem 1.25rem
									position: absolute
									top: 115%
									left: 0
									z-index: 99
									label
										font-size: .625rem
										display: flex
										justify-content: space-between
										position: relative
										cursor: pointer
										&::after
											display: block
											content: ""
											width: .75rem
											height: .75rem
											margin-left: 1rem
											border: 2px solid $graphite2
										img
											position: absolute
											top: 0
											bottom: 0
											right: .08rem
											width: .6rem
											height: .6rem
											margin: auto 0
											display: none
									input
										visibility: hidden
										position: absolute
										&#close
											&+label
												color: $red4
										&#check
											&+label
												color: $orange4
										&#open
											&+label
												color: $teal4
										&:checked
											&+label
												img
													display: block

				tbody
					&>tr
						mix-blend-mode: multiply
						box-shadow: 0px 1px 0px $grey2
						cursor: pointer
						&:hover
							background-color: $lineHover
						&.selected
							background-color: $lineHover
						td
							vertical-align: middle
							position: relative
							.icon
								width: .6rem
								position: absolute
								top: 0
								bottom: 0
								right: .4rem
								margin: auto 0

							&.id
								position: relative
								&::before
									display: none
									content: ""
									height: 96%
									width: .5rem
									position: absolute
									left: 0
									top: 0
									bottom: 0
									margin: auto 0
								&.closed::before
									display: block
									background-color: $red2
								&.opened::before
									display: block
									background-color: $teal2
								&.check::before
									display: block
									background-color: $orange2

							&.car
								table
									background: transparent
									td
										&:first-of-type
											padding-right: .3rem
											font-size: .7rem
										&:last-of-type
											font-family: 'Cabin', sans-serif
											font-size: 1rem
											text-align: right
											padding-left: .3rem

							&.task
								font-size: .625rem
								text-align: left

							&.driver
								font-size: .625rem

							&.start
								.icon
									i
										&.is-success
											color: $teal2
										&.is-danger
											color: $red2

							&.finish
								.icon
									i
										&.is-success
											color: $teal2
										&.is-danger
											color: $red2

							&.status
								font-size: .625rem
								text-align: left
								position: relative
								&.closed
									color: $red4
								&.check
									color: $orange4
								&.opened
									color: $teal4

								div
									position: absolute
									top: 0
									bottom: 0
									right: 1rem
									margin: auto 0
									height: 1.6rem
									.icon
										width: .6rem
										margin-left: .5rem

						td.start, td.finish
							font-size: .75rem
							text-align: center
							span
								font-size: .625rem
		.open
			display: block
			margin-bottom: 2rem
			width: 100%

			.button
				font-size: .875rem
				font-weight: bold
				color: #fff
				width: 100%
				background-color: $blue2
				mix-blend-mode: multiply
				box-shadow: 0 1px 0 $grey2
				border: none
				border-radius: 0

		.pagination
			@include flex(flex-start, center)
			padding-left: 1rem
			.button
				@include flex(center, center)
				background-color: #fff
				width: 2rem
				height: 2rem
				padding: .5rem
				margin-left: 1rem
				border: 1px solid $graphite2
				box-shadow: 0 1px 0 $graphite4
				opacity: .3
				&.active
					opacity: 1
				&::before
					display: block
					content: ""
					width: .5rem
					height: .5rem
					border-top: 2px solid $graphite4
					border-right: 2px solid $graphite4
					transform: translateX(-2px) rotate(45deg)
				&.prev::before
					transform: translateX(1px) rotate(225deg)
				&.active:active
					box-shadow: inset 0 1px 0 $graphite4
			