// Font
@import './font/fonts.css'

// MDI icons
@import "https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css"

// FA icons
@import "https://use.fontawesome.com/releases/v5.2.0/css/all.css"

// Buefy variables
@import "~bulma/sass/utilities/_all"

// Mixins and Variables
@import '_mixins.sass'
@import '_variables.sass'

@import "~bulma"
@import "~buefy/src/scss/buefy"

// General style
html
	font-size: 1.125rem
	body
		font-family: 'Montserrat', sans-serif

	#app

		h1
			font-size: 3rem
			font-weight: bold
			text-align: left
			line-height: 45px
			margin-bottom: 1.25rem
			user-select: none
			color: $graphite6

		.button
			color: $grey2
			font-size: 1.125rem
			font-weight: bold
			padding: .8rem 3rem
			background-color: $blue4
			border-radius: 5px
			box-shadow: 0px 4px 20px rgba(45, 156, 219, 0.4)
			&:hover
				color: $grey2

// Components styles
@import '_header.sass'
@import '_sidebar.sass'
@import '_waybills-table.sass'
@import '_open.sass'
@import '_close.sass'
@import '_waybills_reports-table.sass'
@import '_autograph_reports-table.sass'
@import '_waybill-report.sass'