// Font
@import './font/fonts.css'

// MDI icons
@import "https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css"
// @import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"

// General style
html
	font-size: 1.125rem
	body
		font-family: 'Montserrat', sans-serif

		h1
			font-size: 3rem
			font-weight: bold
			text-align: left
			line-height: 45px
			margin-bottom: 1.25rem
			user-select: none

// Buefy variables
@import "~bulma/sass/utilities/_all"

// Mixins and Variables
@import '_mixins.sass'
@import '_variables.sass'

@import "~bulma"
@import "~buefy/src/scss/buefy"

// Components styles
@import '_header.sass'
@import '_sidebar.sass'
@import '_waybills-table.sass'