<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase advisor/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /advisor/index.html [L]
</IfModule>